@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

body {
	padding: 0;
	margin: 0;
	color: #333;
	font-size: 16px;
	font-family: "Muli", sans-serif;
	--primary: #334de6;
}

h1,
h2,
strong {
	color: #222;
}

a, .link {
	text-decoration: underline;
	color: var(--primary);
}

header, footer {
	padding: 4vw 2em;
	text-align: center;
	background-color: var(--primary);
	color: #fff;
}

header h1 {
	font-size: 40px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #fff;
}

main {
	padding: 2em 2em;
}